body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: purple;
    font-family: Arial, sans-serif;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 40px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
	background-color:#fff;
}
.search.active {
    width: 250px;
}
.search .input {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.search.active .input {
    opacity: 1;
}
.search .btn {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s;
}
.search .btn:hover {
    background-color: #0056b3;
}
